html {
    font-family: system-ui;
    font-size: 16px;
    line-height: 1.5rem;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 400;
    font-size: 2rem;
    margin: 0 0 1.2rem 0;
}

h2 {
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0 0 1rem 0;
}

p {
    font-size: 1rem;
    margin: 0;
}

a {
    text-decoration: none;
    color: #1f64cc;
}

.gray {
    color: gray
}

header, main, footer {
    max-width: 48rem;
    margin: 0 auto;
    padding: 0 1rem;
}



header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
}

header nav ul li {
    display: inline-block;
    padding-left: 1rem;
}

header .logo {
    display: flex;
    align-items: center;
}

header nav img {
    height: 1.2rem;
    width: auto;
    margin: 0 1rem 0 0;
}



section {
    padding: 1.4rem 0;
}

section img {
    width: 100%;
    height: auto;
    margin: 2rem 0 0 0;
}

section table {
    width: 100%;
    table-layout: fixed;
    font-size: 1rem;
    /* border-collapse: collapse; */
}

section table td {
    padding: 0.2rem 0;
    /* border: 1px solid #ddd; */
}

section ol {
    margin: 0;
    padding: 0;
    padding-inline-start: 1.2rem;
    counter-reset: item;
}

section ol li {
    display: block;
    margin-left: 1rem;
}

section ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    position: absolute;
    margin-left: -2rem;
}



footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer small {
    display: flex;
    align-items: center;
}

footer nav a {
    color: gray;
    text-decoration: underline;
}

footer nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-inline-start: 0;
}

footer nav ul li {
    display: inline-block;
    padding-right: 1rem;
}

footer img {
    height: 1rem;
    width: auto;
    margin: 0 0.7rem 0 0;
}



.show-on-mobile {
    display: none;
}

.hide-on-mobile {
    display: table;
}

@media screen and (max-width: 40rem) {
    html {
        font-size: 14px;
    }

    .show-on-mobile {
        display: table;
    }

    .hide-on-mobile {
        display: none;
    }

    header nav {
        flex-direction: column;
        align-items: flex-start;
    }

    header nav ul {
        padding-top: 0.6rem;
    }

    header nav ul li {
        padding-left: 0;
        padding-right: 1rem;
    }
}